AddType application/pdf .pdf
AddType image/jpeg .jpg .jpeg
AddType image/png .png
AddType image/gif .gif
AddType application/msword .doc
AddType application/vnd.openxmlformats-officedocument.wordprocessingml.document .docx